<div id="preference" class="form-group">
    <label for="quote-name">contact preference</label>
    <div class="form-group">
        <div class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            <span ng-if="quote.preference">
                <i class="{{quote.preference.icon}}"></i>
                {{quote.preference.title}}
            </span>
            <span class="icon-down-open"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="preference in preferences" ng-click="setPreference(preference)">
                    <a>
                        <i class="{{preference.icon}}"></i>
                        {{preference.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>