<div class="container">
    <div class="row">
        <div class="col-xs-12 project-form">
            <h1>Projects
                <span class="small">
                    <span ng-if="update"> update a project in the jagged portfolio</span>
                    <span ng-if="!update"> add a new project to the jagged portfolio</span>
                </span>
            </h1>
            <div id="alert" class="alert alert-{{alert.type}}" role="alert" ng-show="alert.show">
                <span class="alert-message">{{alert.message}}</span>
                <button type="button" class="close" ng-click="alert.show=false"><span aria-hidden="true">&times;</span></button>
            </div>
            <form role="form" name="projectForm" ng-submit="addProject()">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="project-title">title</label>
                            <input type="text" class="form-control" id="project-title" placeholder="enter title" ng-model="project.title">
                        </div>
                        <div class="form-group">
                            <label for="project-client">client</label>
                            <input type="text" class="form-control" id="project-client" placeholder="enter client" ng-model="project.client">
                        </div>
                        <div class="form-group">
                            <label for="project-description">description</label>
                            <textarea class="form-control" id="project-description" placeholder="enter description" rows="6" ng-model="project.description"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="project-url">url</label>
                            <input type="text" class="form-control" id="project-url" placeholder="enter url" ng-model="project.url">
                        </div>
                        <div class="form-group">
                            <label for="project-icon">icon</label>
                            <input type="text" class="form-control" id="project-icon" placeholder="enter icon" ng-model="project.icon">
                        </div>
                        <div class="form-group">
                            <label for="project-tech">tech</label>
                            <input type="text" class="form-control" id="project-tech" placeholder="enter tech" ng-model="project.tech" ng-list>
                        </div>
                        <div class="form-group">
                            <label for="project-position">position</label>
                            <input type="number" class="form-control" id="project-position" placeholder="enter position" ng-model="project.position">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="project.featured"> Make Featured
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row project-images" ng-if="project.images.length>0">
                            <div class="col-xs-6 col-md-4 project-image" ng-repeat="image in project.images">
                                <div class="image-actions">
                                    <button class="btn-long-shadow" ng-click="deleteImage(image, $index)">
                                        <span>  
                                            <i class="icon-cancel"></i>
                                        </span>
                                    </button>
                                </div>
                                <img class="img-responsive" ng-src="images/{{image.storedAs}}" />
                            </div>
                        </div>
                        <div class="form-group upload-images">
                            <button class="btn btn-primary file-upload" type="button" ng-file-select="onFileSelect($files)" ng-model="files" name="files" accept="image/*" ng-multiple="true">upload images</button>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-danger" type="button" ui-sref="admin">cancel</button>
                        <button class="btn btn-primary btn-danger" type="button" ng-click="clear()" ng-if="!update">clear</button>
                        <button class="btn btn-primary pull-right" type="submit" ng-if="!update">add project</button>
                        <button class="btn btn-primary pull-right" type="button" ng-click="editItem()" ng-if="update">update project</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>