<div id="tech">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="dropdown-wrapper">
                    <input class="tech-typeahead" type="text" ng-model="techFilter" typeahead="tech.title for tech in technologies | limitTo:8" placeholder="Filter out by technology type or name (ie Angular, Javascript, Frontend)" />
                </div>
            </div>
        </div>
    </div>
    <div id="tech-list" class="container">
        <loader ng-show="loading"></loader>
        <div class="row" ng-class="{'invisible':loading}">
                <flip-card template="components/flip-card/flip-card.tech.template.html" ng-repeat="tech in technologies | filter:{tags:techFilter}"></flip-card>
        </div>
    </div>
</div>

