<div id="work">
    <div class="container" ng-if="false">
        <div class="row">
            <div class="col-xs-12">
                <div class="dropdown-wrapper">
                    <input class="project-typeahead" type="text" ng-model="workFilter" typeahead="project.title for tech in projects | limitTo:8" placeholder="Filter out by technology type or name (ie Angular, Javascript, Frontend)" />
                </div>
            </div>
        </div>
    </div>
    <div id="project-list" class="container">
        <loader ng-show="loading"></loader>
        <div class="row" ng-class="{'invisible':loading}">     
            <flip-card template="components/flip-card/flip-card.project.template.html" ng-repeat="project in projects | filter:{tags:workFilter}"></flip-card>
        </div>
    </div>
</div>
