<div id="hero" ng-class="{'neg-z':showContact}">
    <div class="container">
        <div class="row" ng-class="{'animated fadeOutUp':fadeOut}">
            <div class="col-xs-12 col-sm-4">
                <h1>
                    <div class="title">jagged.io</div>
                    <div class="description">
                        <div>specializing in API driven</div>
                        <div>web application development</div>
                        <div>crafted with angular and node.js</div>
                    </div>
                </h1>
                <a ui-sref="tech">along with these other great tools</a>
            </div>
            <div class="col-xs-12 col-sm-8">
                <i class="icon-mountains"></i>
            </div>
        </div>
    </div>
</div>
<div id="curtain" in-view="fadeHero()">
    <div id="tech">
        <div class="container" in-view="showContact=false">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Technology</h2>
                    <p>Web technology is changing and progressing every day, so is jagged.</p>
                </div>
            </div>
            <div id="tech-list" class="cards row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="tech in technologies">
                <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="tech in technologies | filter:{tags:techFilter}"> -->
                    <div class="card {{tech.title|lowercase}}" ng-class="{'flipped':tech.flipped}">
                        <div class="card-front" ng-click="tech.flipped=true" >
                            <div class="long-shadow">
                                <span>  
                                    <i class="devicons {{tech.icon}}"></i>
                                </span>
                            </div>
                            <h3 class="tech-title">{{tech.title}}</h3>
                            <a class="btn-icon" href="{{tech.url}}" target="_blank">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                        <div class="card-back" ng-click="tech.flipped=false" ng-mouseout="tech.flipped=false">
                            <p>{{tech.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="see-more">Wondering what else jagged knows?</p>
                    <button class="btn btn-primary" ng-click="navigateTo('tech');">click here</button>
                </div>
            </div>
        </div>
    </div>
    <div id="work" in-view="showContact=true">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Work</h2>
                    <p>Some of the projects jagged had a hand in building.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="project-list" class="cards row">
                        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="project in projects">
                            <div class="card {{project.client|lowercase}}" ng-class="{'flipped':project.flipped}" ng-mouseover="project.interval=2500" ng-mouseout="project.interval=-1">
                                <div class="card-front">
                                    <div class="screenshots carousel">
                                        <carousel interval="project.interval" disable-ng-animate>
                                            <slide ng-if="project.thumbnail">
                                                <img class="img-responsive slide" ng-src="{{project.thumbnail}}" />
                                            </slide>
                                            <slide ng-repeat="screenshot in project.screenshots">
                                                <img class="img-responsive slide" ng-src="{{screenshot}}"/>
                                            </slide>
                                        </carousel>
                                    </div>
                                    <div class="project-icon">
                                        <div class="long-shadow">
                                            <span>  
                                                <i class="{{project.icon}}"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="info" ng-click="project.flipped=true">
                                        <h3 class="project-title">{{project.title}}</h3>
                                        <a class="btn-icon" href="{{project.url}}" target="_blank">
                                            <i class="icon-link"></i>
                                        </a>
                                    </div>
                                    <button class="card-flip" ng-click="project.flipped=true">
                                        <i class="icon-arrow-curved"></i>
                                    </button>
                                </div>
                                <div class="card-back" ng-click="project.flipped=false" ng-mouseout="project.flipped=false">
                                    <p>{{project.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="see-more">Want to see more of the jagged portfolio?</p>
                    <button class="btn btn-primary" ng-click="navigateTo('work');">click here</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="contact" ng-class="{'neg-z hidden':!showContact}">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>
                    Are you looking to build a web or mobile application, have a challenging problem that needs to be solved or just interested in learning more?<br>
                    <span>jagged.io is here to help.</span>
                </h2>
                <button class="btn btn-secondary text-center animated" ng-click="navigateTo('quote.name');">request a quote</button><br>
                <button class="btn btn-secondary text-center" ng-click="navigateTo('contact');">contact</button>
            </div>
        </div>
    </div>
    <div id="links" ng-if="false">
        <div class="container">
            <div class="row">
                <p>things</p>
            </div>
        </div>
    </div>
</footer>