<div id="hero" ng-class="{'neg-z':false}" style="height:{{windowHeight}}px;">
    <div class="container">
        <div class="row" ng-class="{'animated fadeOutUp':fadeOut}">
            <div class="col-xs-12 col-sm-4">
                <h1>
                    <div class="title">jagged.io</div>
                    <div class="description">
                        <div>specializing in API driven</div>
                        <div>web application development</div>
                        <div>crafted with angular and node.js</div>
                    </div>
                </h1>
                <a ui-sref="tech">along with these other great tools</a>
            </div>
            <div class="col-xs-12 col-sm-8">
                <i class="icon-mountains"></i>
            </div>
        </div>
    </div>
</div>
<div id="curtain" style="margin-top:{{windowHeight}}px;">
    <div id="tech" ng-controller="TechController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Technology</h2>
                    <p>Web technology is changing and progressing every day, so is jagged.</p>
                </div>
            </div>
            <div id="tech-list" class="row">
                <flip-card template="components/flip-card/flip-card.tech.template.html" ng-repeat="tech in technologies | orderBy: 'position'"></flip-card>
            </div>
            
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="see-more">Wondering what else jagged knows?</p>
                    <button class="btn btn-primary" ng-click="navigateTo('tech');">click here</button>
                </div>
            </div>
        </div>
    </div>
    <div id="work" ng-controller="WorkController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Work</h2>
                    <p>Some of the projects jagged had a hand in building.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <loader ng-show="loading"></loader>
                    <div id="project-list" class="cards row" ng-class="{'invisible':loading}">
                        <flip-card template="components/flip-card/flip-card.project.template.html" ng-repeat="project in projects"></flip-card>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="see-more">Want to see more of the jagged portfolio?</p>
                    <button class="btn btn-primary" ng-click="navigateTo('work');">click here</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="contact" ng-class="{'pos-z':scrollLocation > showFooter}">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>
                    Are you looking to build a web or mobile application, have a challenging problem that needs to be solved or just interested in learning more?<br>
                    <span>jagged.io is here to help.</span>
                </h2>
                <button class="btn btn-secondary text-center animated" ng-click="navigateTo('quote.name');">request a quote</button><br>
                <button class="btn btn-secondary text-center" ng-click="navigateTo('contact');">contact</button>
            </div>
        </div>
    </div>
    <div id="links" ng-if="false">
        <div class="container">
            <div class="row">
                <p>things</p>
            </div>
        </div>
    </div>
</footer>