.dropdown-wrapper
    position: relative
    background: rgba($theme-dark, .85)
    margin: 0 0 30px 0
    padding: 0
    color: #fff
    font-size: 18px
    border-radius: 3px
    outline: none
    border: 2px solid $theme-dark
    .dropdown-menu
        width: 100%
        bottom: 0
        left: 0
        @include border-radius(0)
        border: 2px solid $theme-dark
        min-height: 400px
        background: rgba($theme-dark, .85)

.tech-typeahead
    width: 100%
    padding: 20px
    color: rgba(#fff, 0.85)
    font-weight: 300
    font-size: 18px
    outline: none
    border: none
    background: transparent
    @include placeholder
        color: rgba(#fff, 0.85)
        //font-weight: 100
        //letter-spacing: .075em

#tech
    .card
        .long-shadow
            span
                top: 6px
        &.javascript
            .long-shadow
                font-size: 44px
                span
                    top: 2px
