<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            
        </div>
        <div class="col-xs-12 col-sm-6">
            <ul class="list-menu list-unstyled text-right">
                <li>
                    <a ui-sref="home">home</a>
                </li>
                <li>
                    <a ui-sref="tech">tech</a>
                </li>
                <li>
                    <a ui-sref="about">about</a>
                </li>
            </ul>
        </div>
    </div>
</div>