<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <ul class="list-menu list-unstyled text-center">
                <li>
                    <a ui-sref="home">
                        home
                        <span class="info">info here.</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="tech">
                        tech
                        <span class="info">info here.</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="about">
                        about
                        <span class="info">info here.</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="contact">
                        contact
                        <span class="info">info here.</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            
        </div>
    </div>
</div>