<div id="hero">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h1>
                    <span class="title">jagged.io</span>
                    <span class="description">
                        specializing in API driven<br />
                        web application development<br />
                        crafted with angular and node.js
                    </span>
                </h1>
                <a ui-sref="tech">along with these other great tools</a>
            </div>
            <div class="col-xs-12 col-md-8">
                <i class="icon-mountains"></i>
            </div>
        </div>
    </div>
</div>